{% extends "zinnia/base.html" %}
{% load i18n %}

{% block title %}关于{% endblock title %}

{% block body-class %}about{% endblock body-class %}

{% block content %}
<div class="about_div" style="background-color: #fff; padding:16px;">
<h2>关于博客</h2>

<ul><li>基于<code>python3.6</code> &amp; <code>django 1.11</code></li><li>项目地址：<a href="https://github.com/nullscc/django_blog">https://github.com/nullscc/django_blog</a></li><li>项目原型：<a href="https://github.com/Fantomas42/django-blog-zinnia">https://github.com/Fantomas42/django-blog-zinnia</a></li><li>前端显示惨不忍睹，先这样吧，有时间再来优化~</li></ul>

<h2>关于我</h2>

<ul><li>Email：jarves@foxmail.com</li><li>github：<a href="https://github.com/nullscc">https://github.com/nullscc</a></li><li>职业：野路子程序员</li><li>状态：失业迷路中...</li><li>简历：待续...</li><li>职业方向：游戏、python、web全栈、产品</li></ul>
</div>
{% endblock content %}